.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #f5f5f5;
  padding: 20px 50px;
  border-radius: 3px;
  width: 70%;
  text-align: center;
}

.modal button {
  margin: 10px 0;
  font-size: 15pt;
  color: white;
  background-color: #00bfff;
  border-color: white;
  cursor: pointer;
}

.modal p {
  font-size: 12pt;
  color: #808080;
  white-space: pre-wrap;
}

@media (min-width: 280px) {

  .modal {
    width: 90%;
  }

}

@media (min-width: 768px) {

  .modal {
    width: 40%;
  }

}