/* ========= 出版物 =========== */
.publishment {
  background-color: rgba(43,75,123, 1);
}

/* ========= 出版物の見出し =========== */
.publishment-title {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.publishment-title-jp {
  text-align: center;
  font-family: 'Hiragino Mincho Pro';
  color: white;
  margin-bottom: 0;
}

.publishment-title-en {
  text-align: center;
  font-family: 'Hiragino Mincho Pro';
  color: white;
  margin-bottom: 0;
}

/* ========= 見出しのレスポンスデザイン =========== */
@media (min-width: 280px) {
  .publishment-title {
    height: 100px;
  }
  .publishment-title-jp {
    font-size: 24pt;
  }
  .publishment-title-en {
    font-size: 9pt;
  }
}

@media (min-width: 360px) {
  .publishment-title {
    height: 120px;
  }
  .publishment-title-jp {
    font-size: 28pt;
  }
  .publishment-title-en {
    font-size: 11pt;
  }
}

@media (min-width: 576px) {
  .publishment-title {
    height: 150px;
  }
  .publishment-title-jp {
    font-size: 36pt;
  }
  .publishment-title-en {
    font-size: 14pt;
  }
}

@media (min-width: 960px) {
  .publishment-title {
    height: 180px;
  }
  .publishment-title-jp {
    font-size: 40pt;
  }
  .publishment-title-en {
    font-size: 16pt;
  }
}

/* ========= 同人誌詳細コンテナ =========== */
.publishment-cell {
  text-align: center;
  padding-bottom: 50px;
}

.publishment-cell > h1, p {
  font-family: 'Hiragino Mincho Pro';
  color: white;
  text-align: center;
}

/* ========= 同人誌詳細レスポンスクエリ =========== */
@media (min-width: 280px) {
  .publishment-table {
    padding: 50px 30px;
  }
  .publishment-cell > picture {
    height: 300px;
    width: auto;
  }

  .publishment-cell > picture > img {
    max-width: 100%;
    width: auto;
  }
}

@media (min-width: 576px) {
  .publishment-table {
    padding: 30px 50px;
  }
  .publishment-cell > picture {
    height: 500px;
    width: auto;
  }
}

@media (min-width: 768px) {
  .publishment-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px;
  }

  .publishment-cell {
    padding: 20px 50px;
  }
}

@media (min-width: 960px) {
  .publishment-table {
    padding: 80px 200px
  }
}

@media (min-width: 1500px) {
  .publishment-table {
    padding: 120px 300px;
  }
}
