/* ========= 出版物 =========== */
.publishment {
  background-color: rgba(43,75,123, 1);
}

/* ========= 出版物の見出し =========== */
.publishment-title {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.publishment-title-jp {
  text-align: center;
  font-family: 'Hiragino Mincho Pro', sans-serif;
  color: white;
  margin-bottom: 0;
}

.publishment-title-en {
  text-align: center;
  font-family: 'Hiragino Mincho Pro', sans-serif;
  color: white;
  margin-bottom: 0;
}

/* ========= 同人誌詳細コンテナ =========== */
.publishment-cell {
  text-align: center;
}

.publishment-cell > h1, p {
  font-family: 'Hiragino Mincho Pro', sans-serif;
  color: white;
  text-align: center;
}

/* ========= BOOTH へのリンク =========== */
.booth-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.booth-link > a {
  display: flex;
  justify-content: center;
}

/* ========= レスポンスクエリ =========== */
@media (min-width: 280px) {
  .publishment-title {
    height: 100px;
  }

  .publishment-title-jp {
    font-size: 24pt;
  }

  .publishment-title-en {
    font-size: 9pt;
  }

  .publishment-table {
    padding: 50px 30px;
    padding-bottom: 0;
  }

  .publishment-cell {
    padding-bottom: 10px;
  }

  .publishment-cell > picture {
    width: 80%;
    height: auto;
  }

  .publishment-cell > picture > img {
    width: 80%;
    height: auto;
  }

  .publishment-cell > p {
    padding-top: 10px;
    font-size: 16pt;
  }

  .booth-link > a > img {
    margin: 40px;
    max-width: 50%;
  }
}

@media (min-width: 360px) {
  .publishment-title {
    height: 120px;
  }
  .publishment-title-jp {
    font-size: 28pt;
  }
  .publishment-title-en {
    font-size: 11pt;
  }

  .publishment-cell {
    padding-bottom: 30px;
  }

  .publishment-cell > picture {
    width: 70%;
    height: auto;
  }

  .publishment-cell > picture > img {
    width: 70%;
    height: auto;
  }

}

@media (min-width: 576px) {
  .publishment-title {
    height: 150px;
  }

  .publishment-title-jp {
    font-size: 36pt;
  }

  .publishment-title-en {
    font-size: 14pt;
  }

  .publishment-table {
    padding: 30px 50px;
    padding-bottom: 0;
  }

  .publishment-cell {
    padding-bottom: 50px;
  }

  .publishment-cell > picture {
    width: 50%;
    height: auto;
  }

  .publishment-cell > picture > img {
    width: 50%;
    height: auto;
  }

  .booth-link > a > img {
    margin: 40px;
    max-width: 40%;
  }
}

@media (min-width: 768px) {
  .publishment-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px;
    padding-bottom: 0;
  }

  .publishment-cell {
    padding-bottom: 50px;
  }

  .publishment-cell > p {
    padding-top: 15px;
    font-size: 14pt;
  }

  .publishment-cell > picture {
    width: 50%;
    height: auto;
  }

  .publishment-cell > picture > img {
    width: 50%;
    height: auto;
  }

  .booth-link > a > img {
    margin: 40px;
    max-width: 30%;
  }
}

@media (min-width: 960px) {
  .publishment-title {
    height: 180px;
  }

  .publishment-title-jp {
    font-size: 40pt;
  }

  .publishment-title-en {
    font-size: 16pt;
  }

  .publishment-table {
    padding: 80px 100px;
    padding-bottom: 0;
  }

  .booth-link > a > img {
    margin: 40px;
    max-width: 20%;
  }
}

@media (min-width: 1500px) {
  .publishment-table {
    padding: 120px 150px;
    padding-bottom: 0;
  }
}
