/* ========= 出版物 =========== */
.publishment {
    position: relative;
}

.publishment-title {
    height: 250px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center 50%;
    background-size: cover;
    background-image: url("../../assets/publishment.webp");
}

.publishment-title-rgba {
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.publishment-title-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.publishment-title-jp {
    text-align: left;
    font-family: 'Hiragino Mincho Pro';
    font-size: 48pt;
    color: white;
    padding: 0 0 0 40px;
}

.publishment-title-en {
    text-align: left;
    font-family: 'Hiragino Mincho Pro';
    font-size: 16pt;
    color: white;
    padding: 0 0 0 40px;
}

.publishment-cell {
    padding: 100px 70px 100px 70px;
    background-color: rgba(245, 245, 245, 1);
}

.publishment-icon {
    text-align: center;
}

.publishment-descriptions {
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.publishment-descriptions h2 {
    font-family: 'Hiragino Mincho Pro';
    font-size: 32pt;
    color: gray;
    padding: 20px 0 20px 0;
}

.publishment-descriptions h3 {
    font-family: 'Hiragino Mincho Pro';
    font-size: 14pt;
    color: gray;
}

.publishment-icon img {
    height: 300px;
    width: auto;
}
