/* ========= 出版物 =========== */
.publishment {
    position: relative;
}

/* ========= 出版物の見出し =========== */
.publishment-title {
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center 50%;
    background-size: cover;
    background-image: url("../../assets/publishment.webp");
}

.publishment-title-rgba {
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.publishment-title-jp {
    text-align: left;
    font-family: 'Hiragino Mincho Pro';
    color: white;
    padding: 0 0 0 40px;
    margin-bottom: 0;
}

.publishment-title-en {
    text-align: left;
    font-family: 'Hiragino Mincho Pro';
    color: white;
    padding: 0 0 0 40px;
    margin-bottom: 0;
}

/* ========= 見出しのレスポンスデザイン =========== */
@media (min-width: 280px) {
    .publishment-title {
        height: 100px;
    }
    .publishment-title p {
        padding: 0 0 0 15px;
    }
    .publishment-title-jp {
        font-size: 24pt;
    }
    .publishment-title-en {
        font-size: 9pt;
    }

}

@media (min-width: 360px) {
    .publishment-title {
        height: 120px;
    }
    .publishment-title p {
        padding: 0 0 0 20px;
    }
    .publishment-title-jp {
        font-size: 28pt;
    }
    .publishment-title-en {
        font-size: 11pt;
    }

}

@media (min-width: 576px) {
    .publishment-title {
        height: 150px;
    }
    .publishment-title p {
        padding: 0 0 0 30px;
    }
    .publishment-title-jp {
        font-size: 36pt;
    }
    .publishment-title-en {
        font-size: 14pt;
    }

}

@media (min-width: 960px) {
    .publishment-title {
        height: 180px;
    }
    .publishment-title p {
        padding: 0 0 0 40px;
    }
    .publishment-title-jp {
        font-size: 40pt;
    }
    .publishment-title-en {
        font-size: 16pt;
    }

}

/* ========= 同人誌詳細コンテナ =========== */
.publishment-cell {
    background-color: rgba(245, 245, 245, 1);
}

.publishment-icon {
    text-align: center;
}

.publishment-icon img {
    height: 300px;
    width: auto;
}

.publishment-descriptions {
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.publishment-descriptions p {
    margin-bottom: 0;
}

.publishment-name {
    font-family: 'Hiragino Mincho Pro';
    color: gray;
    padding: 20px 0 20px 0;
}

.publishment-detail {
    font-family: 'Hiragino Mincho Pro';
    color: gray;
}

/* ========= 同人誌詳細レスポンスクエリ =========== */
@media (min-width: 280px) {
    .publishment-cell {
        padding: 50px 30px 50px 30px;
    }
    .publishment-name {
        font-size: 18pt;
    }
    .publishment-detail {
        font-size: 9pt;
    }
    .publishment-descriptions img {
        padding: 10px 0 0 0;
    }
}

@media (min-width: 576px) {
    .publishment-cell {
        padding: 70px 70px 70px 70px;
    }
    .publishment-name {
        font-size: 24pt;
    }
    .publishment-detail {
        font-size: 9pt;
    }
    .publishment-descriptions img {
        padding: 20px 0 0 0;
    }
}

@media (min-width: 768px) {
    .publishment-cell {
        padding: 80px 80px 80px 80px;
    }
    .publishment-name {
        font-size: 28pt;
    }
    .publishment-detail {
        font-size: 12pt;
    }
    .publishment-descriptions img {
        padding: 20px 0 0 0;
    }
}

@media (min-width: 960px) {
    .publishment-cell {
        padding: 80px 100px 80px 100px;
    }
    .publishment-name {
        font-size: 30pt;
    }
    .publishment-detail {
        font-size: 14pt;
    }
    .publishment-descriptions img {
        padding: 20px 0 0 0;
    }
}
