.gallery {
    position: relative;
    padding: 0 0 150px 0;
}

.gallery .ant-image-img {
    padding: 5px 5px 5px 5px;

}

.gallery p {
    padding-top: 30px;
    text-align: center;
    font-family: 'Hiragino Mincho Pro';
    font-size: 36pt;
    color: rgba(105, 105, 105, 1);
}
