/* ========= メンバー紹介 =========== */
.member {
    position: relative;
}

.member-title {
    height: 180px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center 50%;
    background-size: cover;
    background-image: url("../../assets/member.JPG");
}

.member-title-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.member-title-rgba {
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.member-title-jp {
    text-align: left;
    font-family: 'Hiragino Mincho Pro';
    font-size: 48pt;
    color: white;
    padding: 0 0 0 40px;
}

.member-title-en {
    text-align: left;
    font-family: 'Hiragino Mincho Pro';
    font-size: 14pt;
    color: white;
    padding: 0 0 0 40px;
}

.member-cell {
    max-height: 30%;
    padding: 40px 40px 50px 40px;
    text-align:center;
    background-color: rgba(245, 245, 245, 1);
}

.member-cell p {
    font-family: 'Hiragino Mincho Pro';
    font-size: 32pt;
    color: rgba(105, 105, 105, 1);
    padding: 20px 0px 0px 0px;
}

.member-cell img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}

.member-icon {
    padding: 30px 30px;
}

.member-name {
    padding: 30px 30px;
}

