/* ========= main =========== */
.member {
    position: relative;
}

/* ========= 見出しセクション =========== */
.member-title {
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center 50%;
    background-size: cover;
    background-image: url("../../assets/member.webp");
}

.member-title-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.member-title-rgba {
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.member-title-jp {
    text-align: left;
    font-family: 'Hiragino Mincho Pro';
    color: white;
    margin-bottom: 0;
}

.member-title-en {
    text-align: left;
    font-family: 'Hiragino Mincho Pro';
    color: white;
    margin-bottom: 0;
}

/* ========= 見出しのレスポンスデザイン =========== */
@media (min-width: 280px) {
    .member-title {
        height: 100px;
    }
    .member-title-text p {
        padding: 0 0 0 15px;
    }
    .member-title-jp {
        font-size: 24pt;
    }
    .member-title-en {
        font-size: 9pt;
    }
}

@media (min-width: 360px) {
    .member-title {
        height: 120px;
    }
    .member-title-text p {
        padding: 0 0 0 20px;
    }
    .member-title-jp {
        font-size: 28pt;
    }
    .member-title-en {
        font-size: 11pt;
    }
}

@media (min-width: 576px) {
    .member-title {
        height: 150px;
    }
    .member-title-text p {
        padding: 0 0 0 30px;
    }
    .member-title-jp {
        font-size: 36pt;
    }
    .member-title-en {
        font-size: 14pt;
    }
}

@media (min-width: 960px) {
    .member-title {
        height: 180px;
    }
    .member-title-text p {
        padding: 0 0 0 40px;
    }
    .member-title-jp {
        font-size: 40pt;
    }
    .member-title-en {
        font-size: 16pt;
    }
}

/* ========= メンバー一覧 =========== */
.member-cell {
    text-align:center;
    background-color: rgba(77, 77, 77, 1);
    flex-direction: column;
    padding: 10px 10px 10px 10px;
}

.member-cell .ant-row {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 245, 245, 1);
    margin: 10px 10px 10px 10px;
    padding: 15px 10px 15px 10px;
}

/* ========= サムネイルとプロフィール =========== */
.member-profile-left img {
    text-align: center;
    border-radius: 50%;
}

.member-profile-left .ant-row {
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center;
}

.member-profile-left .name {
    font-family: 'Hiragino Mincho Pro';
    color: rgba(105, 105, 105, 1);
    margin-bottom: 0;
}

.member-profile-left p {
    font-family: 'Hiragino Mincho Pro';
    color: rgba(105, 105, 105, 1);
    padding: 0;
    margin-bottom: 0;
}

.member-profile-left a {
    display: flex;
    align-items: center;
}

.member-profile-left .anticon-twitter-circle {
    color: rgb(29,161,241);
}

/* ========= サムネとプロフィールのレスポンスデザイン =========== */
@media (min-width: 280px) {
    .member-profile-left img {
        padding: 20px 0 20px 0;
        max-width: 180px;
        max-height: 180px;
    }
    .member-profile-left .name {
        font-size: 28pt;
        padding: 0;
    }
    .member-profile-left p {
        font-size: 12pt;
    }
    .member-profile-left .anticon-twitter-circle {
        font-size: 28pt;
    }
}

@media (min-width: 576px) {
    .member-profile-left img {
        padding: 20px 0 20px 0;
        max-width: 180px;
        max-height: 180px;
    }
    .member-profile-left .name {
        font-size: 24pt;
        padding: 0;
    }
    .member-profile-left p {
        font-size: 12pt;
    }
    .member-profile-left .anticon-twitter-circle {
        font-size: 24pt;
    }
}

@media (min-width: 768px) {
    .member-profile-left img {
        padding: 20px 0 20px 0;
        max-width: 200px;
        max-height: 200px;
    }
    .member-profile-left .name {
        font-size: 28pt;
        padding: 0;
    }
    .member-profile-left p {
        font-size: 12pt;
    }
    .member-profile-left .anticon-twitter-circle {
        font-size: 28pt;
    }
}

/* ========= 作例エリア =========== */
.member-profile-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ========= 作例エリアのレスポンスデザイン =========== */
@media (min-width: 280px) {
    .member-profile-right {
        padding: 10px 0 50px 0;
    }
    .member-profile-right .ant-image {
        padding: 10px 0 10px 0;
        width: 80%;
    }
}

@media (min-width: 360px) {
    .member-profile-right {
        padding: 10px 0 50px 0;
    }
    .member-profile-right .ant-image {
        padding: 10px 0 10px 0;
        width: 70%;
    }
}

@media (min-width: 576px) {
    .member-profile-right {
        padding: 10px 0 10px 0;
        align-items: center;
    }
    .member-profile-right .ant-image {
        padding: 5px 0 5px 0;
        width: 90%;
    }
}

@media (min-width: 768px) {
    .member-profile-right {
        padding: 10px 0 10px 0;
        align-items: center;
    }
    .member-profile-right .ant-image {
        padding: 5px 0 5px 0;
        width: 80%;
    }
}

