/* ========= サークルロゴ部分 =========== */
.logo {
  text-align: center;
  opacity: 1;
  margin: 100px 0 100px 0;
}

@media (min-width: 280px) {
  .logo {
    margin: 50px 0 50px 0;
  }
  .logo img {
    width: 150px;
    height: auto;
  }
}

@media (min-width: 960px) {
  .logo {
    margin: 80px 0 80px 0;
  }
  .logo img {
    width: 200px;
    height: auto;
  }
}

/* ========= サークル概要文 =========== */
.description {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description-title {
  height: 30%;
  text-align: center;
  font-family: 'Hiragino Mincho Pro';
}

.description-title > p {
  color: rgba(105, 105, 105, 1);
}

.description-content {
  height: 70%;
  text-align: center;
  font-family: 'Hiragino Mincho Pro';
  color: rgba(105, 105, 105, 1);
}

.description-content > p {
  color: rgba(105, 105, 105, 1);
}

/* ========= テキストのレスポンスデザイン =========== */
@media (min-width: 280px) {
  .description {
    min-height: 300px;
    max-height: 500px;
  }
  .description-title {
    font-size: 14pt;
  }
  .description-content {
    font-size: 8pt;
    margin-bottom: 20px;
  }
}

@media (min-width: 360px) {
  .description {
    min-height: 300px;
    max-height: 500px;
  }
  .description-title {
    font-size: 18pt;
  }
  .description-content {
    font-size: 9pt;
    margin-bottom: 30px;
  }
}

@media (min-width: 576px) {
  .description {
    min-height: 400px;
    max-height: 500px;
  }
  .description-title {
    font-size: 24pt;
  }
  .description-content {
    font-size: 12pt;
    margin-bottom: 50px;
  }
}

@media (min-width: 960px) {
  .description {
    min-height: 500px;
    max-height: 800px;
  }
  .description-title {
    font-size: 28pt;
  }
  .description-content {
    font-size: 14pt;
    margin-bottom: 70px;
  }
}

