/* ========= 背景 =========== */
.main {
    position: absolute;
    width: 100%;
    max-height: 100%;
}

/* ========= ヘッダータイトル =========== */
.title {
    position: relative;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center 50%;
    background-size: cover;
    background-image: url("../src/assets/title.JPG");
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /*半透明のフィルターをかける*/
}

.title-text {
    padding: 50px 0px 50px 0px;
    text-align: center;
    animation-name: fade-in;
    animation-duration: 1.0s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.title-text h2 {
    font-family: 'Hiragino Mincho Pro';
    font-size: 64pt;
    color: white;
    margin: 50px 50px;
}

.title-text h3 {
    font-family: 'Hiragino Mincho Pro';
    font-size: 18pt;
    color: white;
    margin: 50px 50px;
}

/* ========= メンバー紹介 =========== */
.member {
    position: relative;
}

.member-title {
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center 50%;
    background-size: cover;
    background-image: url("../src/assets/member.JPG");
}

.member-title p {
    text-align: left;
    font-family: 'Hiragino Mincho Pro';
    font-size: 48pt;
    color: white;
    padding: 20px 0px 20px 40px;
}

.member-title:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /*半透明のフィルターをかける*/
}

.member-cell {
    max-height: 30%;
    padding: 0px 40px 50px 40px;
    text-align:center;
    background-color: rgba(255, 255, 255, 1); /*半透明のフィルターをかける*/
}

.member-cell p {
    font-family: 'Hiragino Mincho Pro';
    font-size: 32pt;
    color: white;
}

.member-cell img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}

.member-icon {
    padding: 30px 30px;
}

.member-name {
    padding: 30px 30px;
}

/* ========= 出版物 =========== */
.publishment {
    position: relative;
}

.publishment-title {
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center 50%;
    background-size: cover;
    background-image: url("../src/assets/publishment.JPG");
}

.publishment-title p {
    text-align: left;
    font-family: 'Hiragino Mincho Pro';
    font-size: 48pt;
    color: white;
    padding: 20px 0px 20px 40px;
}

.publishment-title:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /*半透明のフィルターをかける*/
}

.publishment-cell {
    max-height: 30%;
    padding: 50px 70px 50px 70px;
    text-align:center;
}

.publishment-cell h3 {
    font-family: 'Hiragino Mincho Pro';
    font-size: 32pt;
    color: white;
}

.publishment-cell h4 {
    font-family: 'Hiragino Mincho Pro';
    font-size: 18pt;
    color: white;
}

.publishment-cell img {
    max-width: 150px;
    max-height: 300px;
}

.publishment-icon {
    padding: 30px 30px;
}
