.member-card {
  display: grid;
}

/* ========= サムネイルとプロフィール =========== */
.member-profile-left img {
  text-align: center;
  border-radius: 50%;
}

.member-profile-left .name {
  font-family: 'Hiragino Mincho Pro';
  color: white;
  margin-bottom: 0;
}

.member-profile-left p {
  font-family: 'Hiragino Mincho Pro';
  color: white;
  padding: 0;
  margin-bottom: 0;
}

.member-profile-left a {
  display: flex;
  align-items: center;
}

.member-profile-left .anticon-twitter {
  color: white;
}

/* ========= サムネとプロフィールのレスポンスデザイン =========== */
@media (min-width: 280px) {
  .member-card {
    grid-template-columns: 24fr;
  }

  .member-profile-left img {
    padding: 20px 0 20px 0;
    max-width: 180px;
    max-height: 180px;
  }

  .member-profile-left .name {
    font-size: 30pt;
  }

  .member-profile-left a {
    font-size: 30pt;
    padding: 10px 10px 10px 10px;
    justify-content: center;
  }
}

@media (min-width: 576px) {
  .member-profile-left img {
    padding: 20px 0 20px 0;
    max-width: 180px;
    max-height: 180px;
  }
  .member-profile-left .name {
    padding: 0;
  }
  .member-profile-left p {
    font-size: 10pt;
  }
}

@media (min-width: 768px) {
  .member-card {
    padding: 30px 0 30px 0;
    grid-template-columns: 9fr 15fr;
  }

  .member-profile-left img {
    padding: 20px 0 20px 0;
    max-width: 200px;
    max-height: 200px;
  }
  .member-profile-left .name {
    font-size: 25pt;
    padding: 0;
  }
  .member-profile-left p {
    font-size: 12pt;
  }
  .member-profile-left .anticon-twitter {
    font-size: 24pt;
    padding-left: 10px;
  }
}

@media (min-width: 968px) {
  .member-card {
    grid-template-columns: 8fr 16fr;
  }
}

@media (min-width: 1500px) {
  .member-profile-left img {
    padding: 20px 0 20px 0;
    max-width: 250px;
    max-height: 250px;
  }
  .member-profile-left .name {
    font-size: 36pt;
    padding: 0;
  }
  .member-profile-left p {
    font-size: 18pt;
  }
  .member-profile-left .anticon-twitter {
    font-size: 36pt;
    padding-left: 10px;
  }
}

/* ========= 作例エリア =========== */
.member-profile-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.member-profile-right .rsis-container {
  border: 7px solid white !important;
}


/* ========= 作例エリアのレスポンスデザイン =========== */
@media (min-width: 280px) {
  .member-profile-right {
    padding: 10px 0 50px 0;
  }
  .member-profile-right .ant-image {
    margin: 10px 0 10px 0;
  }
}

@media (min-width: 360px) {
  .member-profile-right {
    padding: 10px 0 50px 0;
  }
  .member-profile-right .ant-image {
    margin: 10px 0 10px 0;
  }
}

@media (min-width: 576px) {
  .member-profile-right {
    padding: 10px 0 10px 0;
    align-items: center;
  }
  .member-profile-right .ant-image {
    margin: 5px 0 5px 0;
    width: 90%;
  }
}

@media (min-width: 768px) {
  .member-profile-right {
    padding: 10px 0 10px 0;
    align-items: center;
  }
  .member-profile-right .ant-image {
    margin: 5px 0 5px 0;
    width: 80%;
  }
}
